.base {
    width: 100%;
}
.todoContainer {
    width: 100%;
    margin: auto;
    padding: 30px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.regForm {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    padding: 30px;
    /* border: 5px solid black; */
}
form {
    border: 5px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 10px;
    padding-top: 40px;
    margin: auto;
    border-radius: 10px;
}
h1 {
    color: black;
    text-align: center;
    margin-bottom: 25px;
}
.input {
    width: 90%;
    margin: auto;
}
.error {
    color: red;
    font-weight: 500;
}
td {
    overflow: hidden;
    max-width: 400px;
    word-wrap: break-word;
}
@media (max-width: 500px) {
    form {
        width: 90%;
    }
}
